body {
  height: 100%;
  zoom: 1.0 !important;
}

.page.w-100 {
  // overflow-x: hidden;
}

.content-container {
  max-width: 1170px;
}

#top-logo {
  min-width: 200px;
  height: 45px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../assets/img/logo.svg);
}

#sticky-nav {
  position: sticky;
  top: 0px;
  z-index: 1050;
  border-bottom: 1px solid rgba(33, 37, 41, 0.05);
  box-shadow: 0px 6px 25px rgba(212, 212, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
  pointer-events: visible;
}

#sticky-nav.stick {
  min-height: 70px;
}

h1:focus {
  outline: none;
}

.navbar-nav span,
.navbar-nav a {
  font-weight: 500;
}

.nav-link {
  white-space: nowrap;
}

.symptoms-bg {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#why-us-home-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-tech-bg {
  background-image: url(../assets/img/contact-tech.webp);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

#who-we-are-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 15px;
}

#full-transparency-img,
#full-transparency-img-m {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 15px;
}

#home-reviews {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-section-light {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 178px;
  width: 100%;
  max-width: 1162px;
}


.contact-form-v1 {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 1170px 609px;
  width: 1170px;
  height: 609px;
  max-width: 100%;
}

.clip-path{
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

#footer {
  background-image: url(../assets/img/footer-xlg-bg.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#article-top-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#article-title-img-bg {
  background-image: url(../assets/img/article-title-bg.webp);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-main-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 339px;
}

#common-causes-img {
  background-image: url(../assets/img/common-causes-bg.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#shop-share-step-1 {
  background-image: url(../assets/img/shop-share-step-1.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 358px;
}

#shop-share-step-2 {
  background-image: url(../assets/img/shop-share-step-2.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 358px;
}

#shop-share-step-3 {
  background-image: url(../assets/img/shop-share-step-3.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 358px;
}

#find-shop-bg {
  background-image: url(../assets/img/find-shop-xlg-bg.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 261px;
}


#footer h3 {
  margin: 0px !important;
}

.chart-badge {
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.reviews-hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 3.125rem;
}

.review-card {
  max-width: 770px;
}

#components-reconnect-modal {
  visibility: hidden !important;
  pointer-events: none !important;
}

.popover {
  transition: opacity 0.7s ease-in;
}

.document-break {
  background-image: url(../assets/img/document-break.jpg);
  background-position: 100% 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 80px;
  width: calc(100% + 1.6 * var(--bs-gutter-x));
  margin-left: calc(-0.8 * var(--bs-gutter-x));
  margin-right: calc(-0.8 * var(--bs-gutter-x));
}

.document-break-down {
  background-image: url(../assets/img/document-break-down.jpg);
}

@media only screen and (max-width: 1200px) {}

.autoWidth-lazyload img {
  max-width: none;
}

.autoWidth-lazyload a img {
  max-width: calc(100vw - 90px);
  height: 0px;
}

.autoWidth-lazyload a img.loaded {
  height: auto;
}

#inspection-wrapper {
  position: relative;
}

.popover-right-side {
  max-width: 200px !important;
}

#inspection-wrapper .popover-area {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

#inspection-wrapper .popover-area-right-side {
  top: 0px;
  left: 0px;
  width: calc(100% - 350px);
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
}

#team-wrapper {
  background-image: url("../assets/img/team-bg.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 50px;
  padding-bottom: 700px;
  display: flex;
  flex-flow: column;
}

.team-person {
  width: 96%;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 600;
  margin: 0px auto;
  position: relative;
}

.team-person img {
  border-radius: 150px;
  box-shadow: 0px 6px 20px rgba(45, 50, 116, 0.05);
}

.team-person .img-wrap {
  position: relative;
  width: 340px;
  margin: 0px auto;
}

.team-person .details-wrap {
  overflow: hidden;
  transition: all 500ms ease-in-out;
  z-index: 5;
  margin-top: -120px;
}

.team-person .details {
  background: linear-gradient(180deg, #fcfeff 0%, #f5f6ff 100%), #ffffff;
  border-radius: 30px;
  box-shadow: 0px 6px 20px rgba(45, 50, 116, 0.05);
  padding: 140px 20px 20px 20px;
  box-shadow: 0px 6px 20px rgba(45, 50, 116, 0.15);
  margin: 20px 20px 80px 20px;
}

.team-person.team-person-y .details {
  background: linear-gradient(180deg, #fffef8 0%, #fff9d9 100%);
}

.team-person h2 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 0px;
}

.team-person strong {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 15px;
  display: block;
}

.team-person p {
  font-size: 24px;
  line-height: 33px;
  max-height: 0px;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.team-person.expanded p {
  max-height: 10000px;
}

.team-person .img-wrap:before {
  content: " ";
  position: absolute;
  display: block;
  width: 340px;
  height: 340px;
  border-radius: 170px;
  background: linear-gradient(180deg, #f6f6fe 0%, #e9eafd 100%), #ffffff;
  top: -20px;
  left: 0px;
  z-index: 10;
}

.team-person.team-person-y .img-wrap:before {
  background: linear-gradient(180deg, #fffef8 0%, #fff9d9 100%);
}

.team-person .img-wrap:after {
  content: " ";
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: linear-gradient(0deg,
      rgba(49, 64, 252, 0.4),
      rgba(49, 64, 252, 0.4)),
    linear-gradient(180deg, #ffffff 0%, #f5f6ff 100%), #ffffff;
  mix-blend-mode: darken;
  top: 0px;
  left: 20px;
  z-index: 30;
  transition: opacity 300ms ease-in-out;
}

.team-person.team-person-y .img-wrap:after {
  background: linear-gradient(0deg,
      rgba(255, 208, 41, 0.6),
      rgba(255, 208, 41, 0.6)),
    linear-gradient(180deg, #ffffff 28.57%, #f5f6ff 128.57%), #ffffff;
}

.team-person.team-person-b.team-person-info .img-wrap:before {
  background: linear-gradient(132.23deg, #1945e0 16.68%, #2d3274 56.82%);
}

.team-person.team-person-y.team-person-info .img-wrap:before {
  background: linear-gradient(292.55deg, #ffac00 13.81%, #ffe071 89.69%);
}

.team-person.team-person-color .img-wrap:after {
  mix-blend-mode: color;
}

.team-person.team-person-info .img-wrap:after {
  content: none;
}

.team-person:hover {
  z-index: 100;
}

.team-person:hover .img-wrap:after {
  opacity: 0;
}

.team-person .img-wrap img,
.team-person .img-wrap h3 {
  z-index: 20;
  position: relative;
}

.team-person .img-wrap h3 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.team-person.team-person-info h3 {
  font-weight: 700;
  font-size: 51px;
  line-height: 52px;
  margin-bottom: 35px;
}

.team-person.team-person-info p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.team-person .card-open,
.team-person .card-close {
  background: linear-gradient(0deg, #e9eafe 8.18%, #f6f6fe 100%);
  display: block;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  margin: 0px auto;
  position: relative;
  top: 47px;
  font-size: 26px;
}

.team-person.team-person-y .card-open,
.team-person.team-person-y .card-close {
  background: linear-gradient(180deg, #fffef8 0%, #fff9d9 100%);
  color: #ffac00;
}

.team-person .card-close,
.team-person.expanded .card-open {
  display: none;
}

.team-person.expanded .card-close svg {
  padding-top: 5px;
}

.team-person.expanded .details {
  overflow: hidden;
}

.team-person.team-person-b.author-person {
  width: 100%;
  margin: 0px !important;
}

.team-person.author-person .img-wrap:after {
  content: none;
}

.team-person.author-person .img-wrap img {
  margin: 0px auto;
}

.team-person.author-person .details img {
  border-radius: 0px;
}

.team-person.author-person.team-person-b .card-open *,
.team-person.author-person.team-person-b .card-close * {
  color: #000;
}

.team-person.author-person .details {
  display: flex;
  flex-flow: column;
  align-items: center;
}

ul.light-blue-disc {
  list-style: none;
}

ul.light-blue-disc li:before {
  content: "•";
  font-size: 2rem;
  padding-right: 5px;
  color: #edeeff;
  position: relative;
  top: 5px;
}

.team-person.team-person-info h3 {
  height: 300px;
  width: 300px;
}

.team-person.team-person-b .img-wrap h2,
.team-person.team-person-y .img-wrap h2,
.team-person.team-person-b .img-wrap h3,
.team-person.team-person-y .img-wrap h3 {
  color: #fff;
}

.chart-side-legend {
  font-size: 1rem;
}

.charts-block {
  min-height: 430px;
}

#why-us-home-bg {
  padding-bottom: 190px;
}

#why-us-hometiles-bg {
  margin-top: -185px;
}

#why-us-hometiles-bg .card-body {
  width: 370px;
  height: 370px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px auto;
}

.symptom-card,
.symptom-tile-card {
  overflow: hidden;
}

.symptom-card .card-img-top {
  height: 137px;
  width: 100%;
  overflow: hidden;
}

.symptom-card .card-img-top-img,
.symptom-tile-card .card-img-top-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.symptom-tile-card .card-img-top-img {
  height: auto;
}

.symptom-card:hover .card-img-top-img,
.symptom-tile-card:hover .card-img-top-img {
  transform: scale(1.2);
}

.contact-form-v1 h2 {
  margin: 0px !important;
}

.contact-form-v1 textarea::placeholder {
  transform: translateY(55px);
}

.youtube-thumbnail {
  position: relative;
  height: 112px;
}

.youtube-thumbnail:after {
  content: " ";
  display: block;
  background-image: url(../assets/img/logo-youtube.svg);
  width: 35px;
  height: 25px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -17.5px;
  margin-top: -12.5px;
  transition: transform .3s ease-in-out;
}

.youtube-thumbnail:hover:after {
  transform: scale(1.3);
}

.article-youtube-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
}

.causes-img-box {
  min-height: 494px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.attn-img-box {
  min-height: 424px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// .score-bar {
//   position: relative;
// }

// .score-bar img {
//   position: absolute;
//   height: 24px;
//   width: 100%;
// }

.score-bar {
  position: absolute;
  bottom: 0px;
  width: 90%;
  height: 24px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 24px;
}

.score-bar.entered {
  background-image: url(../assets/img/progress-empty.svg);
}

.score-bar>div {
  position: absolute;
  width: 90%;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 24px;
}

.score-bar>div.entered {
  background-image: url(../assets/img/progress-full.svg);
}

.review-stars {
  position: relative;
  width: 92px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(../assets/img/stars-empty.svg);
  background-position: 0% 0%;
  background-size: 92px 16px;
  display: inline-block;
}

.review-stars.review-stars-white {
  background-image: url(../assets/img/stars-empty-white.svg);
}

.review-stars>div {
  position: absolute;
  width: 100%;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(../assets/img/stars-full.svg);
  background-position: 0% 0%;
  background-size: 92px 16px;
}

.shop-photo {
  overflow: hidden;
}

.shop-photo .shop-photo-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.shops-scroll {
  max-height: 800px;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;
}

#shops-map {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  min-height: 600px;
}

.modal .shops-scroll,
.modal #shops-map {
  max-height: auto;
  min-height: auto;
  height: calc(100vh - 200px);
}

#three-steps-wrapper {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
}

.fix-metric-bg-wrapper {
  position: relative;
}

.fix-metric-bg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 332px;
  height: 263px;
  font-size: 1.375rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #00000077;
  padding: 75px 30px 15px 80px;
  text-align: center;
}

.video-lazy-container {
  display: none;
}

.video-lazy-container.entered {
  position: relative;
}

@media only screen and (max-width: 1750px) {
  .symptoms-bg {
    background-position: 80% 50%;
  }
}

@media only screen and (max-width: 1440px) {
  .symptoms-bg {
    background-image: url(../assets/img/home-bg-lg.webp);
  }

  // .contact-form-v1 {
  //   background-image: url(../assets/img/contact-form-lg-bg.webp);
  //   background-size: 1110px 609px;
  //   width: 1110px;
  //   height: 609px;
  // }

  // #article-top-bg {
  //   background-image: url(../assets/img/article-lg-bg.webp);
  // }
}

@media only screen and (max-width: 1376px) {
  .symptoms-bg {
    background-image: url(../assets/img/home-bg-1376.webp);
  }
}

@media only screen and (max-width: 1280px) {
  .symptoms-bg {
    background-position: 70% 50%;
  }

  #why-us-hometiles-bg .card-body {
    width: 228px;
    height: 228px;
  }

  #why-us-hometiles-bg {
    margin-top: -114px;
  }

  #why-us-home-bg {
    padding-bottom: 130px;
  }

  #apnt-collapse-wrapper {
    transform: scale(0.95);
    margin-top: -1%;
  }
}

@media only screen and (min-width: 1280px) {
  .team-person {
    width: 648px;
    height: 200px;
  }
}

@media only screen and (max-width: 1200px) {
  .symptoms-bg {
    background-position: 60% 50%;
  }

  #top-logo {
    order: 1;
  }

  #top-navbar {
    order: 4;
  }

  #top-phone {
    order: 2;
  }

  #top-toggle {
    order: 3;
  }
}

@media only screen and (max-width: 1024px) {
  .symptoms-bg {
    background-position: 70% 50%;
    background-image: url(../assets/img/home-bg-1376.webp);
  }

  #inspection-wrapper .popover-area-right-side {
    width: calc(100% - 250px) !important;
  }

  #apnt-collapse-wrapper {
    transform: scale(0.85);
    margin-top: -4%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .team-person {
    width: 648px;
    height: 300px;
  }
}

@media only screen and (max-width: 991px) {

  // .contact-form-v1 {
  //   background-image: url(../assets/img/contact-form-md-bg.webp);
  //   background-size: 727px 612px;
  //   width: 727px;
  //   height: 612px;
  // }

  // #article-top-bg {
  //   background-image: url(../assets/img/article-md-bg.webp);
  // }

  #team-wrapper {
    padding-bottom: 100px;
  }

  .bio-scroller {
    max-height: 0px;
  }

  .team-person.expanded .bio-scroller {
    max-height: 10000px;
  }

  .team-person.team-person-b .details {
    background: linear-gradient(132.23deg, #1945e0 16.68%, #2d3274 56.82%);
  }

  .team-person.team-person-y .details {
    background: linear-gradient(292.55deg, #ffac00 13.81%, #ffe071 89.69%);
  }

  .team-person.team-person-b .details p,
  .team-person.team-person-y .details p {
    color: #fff;
  }

  .team-person.expanded .card-close {
    display: flex;
    align-items: flex-start;
    background: #fff;
  }

  .team-person.team-person-b h2,
  .team-person.team-person-y h2,
  .team-person.team-person-b h3,
  .team-person.team-person-y h3 {
    color: #fff;
  }
}

@media only screen and (min-width: 992px) {
  .bio-scroller {
    max-height: 300px;
  }

  .chart-side-legend {
    font-size: 0.8rem;
  }

  .team-person.author-person {
    width: 100%;
    height: auto;
    background-image: url("../assets/img/author-bg.png");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    overflow: hidden;
  }

  .team-person.author-person img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 0px;
  }

  .team-person.author-person .img-wrap {
    width: 50%;
    margin: 0px;
  }

  .team-person.author-person .img-wrap:before,
  .team-person.author-person .img-wrap:after {
    content: none;
  }

  .team-person.author-person .details-wrap {
    max-height: 1000px;
    position: relative;
    margin-left: 0px;
    text-align: left;
  }

  .team-person.author-person.team-person-b .details {
    background: none;
  }

  .team-person.author-person.team-person-b .card-open,
  .team-person.author-person.team-person-b .card-close {
    display: none;
  }

  .team-person.author-person .details {
    align-items: flex-start;
  }

  .author-person * {
    color: #fff;
  }

  .team-person.team-person-info-x>div {
    padding: 0px 55px;
  }

  .team-person.team-person-info-x {
    width: 498px;
    height: 498px;
    border-radius: 249px;
  }

  .team-person .details {
    margin: 20px 20px 20px;
  }

  .team-person p {
    max-height: 10000px;
  }

  .team-person .card-open,
  .team-person .card-close,
  .author-person .card-open,
  .author-person .card-close {
    display: none;
  }

  .team-person p {
    max-height: auto;
    overflow: visible;
  }

  .team-person .details {
    width: 648px;
  }

  .team-person .details-wrap {
    max-height: 0px;
    position: absolute;
    z-index: 5;
    margin-left: -20px;
  }

  .team-person:hover .details-wrap {
    max-height: 10000px;
  }

  #ball-1 {
    right: calc(35% - 170px);
    order: 1;
  }

  #ball-2 {
    left: calc(44% - 170px);
    // top: 100px;
    order: 2;
  }

  #ball-3 {
    order: 3;
  }

  #ball-4 {
    right: calc(50% - 170px);
    // top: -100px;
    order: 4;
  }

  #ball-5 {
    left: calc(50% - 170px);
    // top: -300px;
    order: 5;
  }

  #ball-6 {
    // top: -400px;
    order: 6;
  }

  #ball-7 {
    right: calc(42% - 170px);
    // top: -450px;
    order: 7;
  }

  #ball-8 {
    left: calc(42% - 170px);
    // top: -400px;
    order: 8;
  }

  #ball-9 {
    left: calc(15% - 170px);
    // top: -400px;
    order: 9;
  }

  #ball-10 {
    right: calc(38% - 170px);
    top: 100px;
    order: 10;
  }

  #ball-11 {
    left: calc(44% - 170px);
    // top: -400px;
    order: 11;
  }

  #ball-12 {
    left: calc(5% - 170px);
    top: 200px;
    order: 12;
  }
}


@media only screen and (min-width: 992px) {
  #pills-wizard-list {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {

  #shops-map {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .wp-block-media-text img,
  .wp-block-image img {
    border-radius: 4px;
  }

  .attn-img-box {
    min-height: auto;
  }

  // .contact-form-v1 {
  //   background-image: url(../assets/img/contact-form-sm-bg.webp);
  //   background-size: cover;
  //   width: 95%;
  //   height: auto;
  //   background-position: 50% 50%;
  //   border-radius: 15px;
  //   overflow: hidden;
  // }

  // #article-top-bg {
  //   background-image: url(../assets/img/article-sm-bg.webp);
  // }

  #why-us-hometiles-bg .card-body {
    width: 100%;
    height: 200px;
  }

  #why-us-hometiles-bg {
    margin-top: -100px;
  }

  #why-us-home-bg {
    padding-bottom: 100px;
  }

  #full-transparency-img,
  #full-transparency-img-m {
    min-height: 350px;
  }

  .causes-img-box {
    min-height: auto;
  }

  // #sticky-nav {
  //   border: 0px none;
  // }

  #apnt-container-sm {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
  }

  #apnt-container-sm a {
    font-size: 0.625rem;
  }

  body.help-pops #fixed-btn-wrapper {
    opacity: 0;
    pointer-events: none;
  }

  .fix-metric-bg {
    width: 166px;
    height: 131px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 25px 10px 5px 30px;
  }

  #apnt-collapse-wrapper {
    transform: scale(0.95);
    margin-top: -5%;
  }
}

@media only screen and (max-width: 576px) {
  #home-top-banner {
    padding-bottom: 500px;
  }

  .symptoms-bg {
    background-position: 50% 100%;
  }

  #find-shop-bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 261px;
  }

  .team-person.author-person .details {
    margin: 20px 0px 80px 0px;
  }

  .popover-sm-inline.scrpop-fadedIn.scrpop-fadeEnd {
    position: relative !important;
    transform: none !important;
  }
}

@media only screen and (max-width: 480px) {
  #home-top-banner {
    padding-bottom: 400px;
  }
}

@media only screen and (max-width: 340px) {
  .team-person .img-wrap {
    width: 260px;
  }

  .team-person .img-wrap:before {
    width: 260px;
    height: 260px;
  }

  .team-person .img-wrap img {
    width: 220px;
    height: 220px;
  }

  .team-person h2 {
    font-size: 24px;
  }

  .team-person h3 {
    font-size: 26px !important;
  }

  .team-person.team-person-info h3 {
    width: 220px;
    height: 220px;
  }

  .header-logo {
    max-width: 160px;
  }
}

.wp-block-media-text img,
.wp-block-image img {
  border-radius: 24px;
  -webkit-box-shadow: 12px 12px 0px 0px rgba(240, 240, 248, 1);
  -moz-box-shadow: 12px 12px 0px 0px rgba(240, 240, 248, 1);
  box-shadow: 12px 12px 0px 0px rgba(240, 240, 248, 1);
  max-width: 100%;
}

.wp-block-embed__wrapper iframe {
  max-width: 100%;
  min-height: 280px;
}

body .smcx-widget-footer {
  display: none;
}

.stat-bar {
  border: 4px solid #FFFFFF;
  border-radius: 0px 15px 15px 0px;
  color: #fff;
  text-align: right;
  font-weight: bold;
  display: block;
  width: 100%;
  background: linear-gradient(132.23deg, #1945E0 16.68%, #2D3274 56.82%);
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.25rem;
  min-width: 95px;
}

.stat-bar-yellow {
  background: linear-gradient(286.51deg, #FFAC00 49.24%, #FFD748 100%);
}

#freshworks-container {
  display: none;
}

.smcx-embed,
.smcx-embed>.smcx-iframe-container {
  max-width: 100% !important;
  // max-height: 100% !important;
  width: 100% !important;
  height: auto !important;
  // overflow: hidden !important;
  -webkit-overflow-scrolling: touch !important;
}

.modal-dialog-scrollable .modal-body {
  -webkit-overflow-scrolling: touch !important;
}

#article-feedback-modal {
  z-index: 10500;
}

#widget-frame {
  transition: 0.3s ease-in-out;
}

#freshworks-frame-wrapper+iframe {
  opacity: 0;
  pointer-events: none;
}

#freshworks-frame-wrapper.frame-right {
  pointer-events: visible;
}

#article-feedback-modal .modal-content {
  min-height: 80%;
}

#article-feedback-modal .modal-body .smcx-widget,
#article-feedback-modal .modal-body .smcx-iframe-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  min-height: 100%;
}

#article-feedback-modal .modal-body .smcx-iframe-container iframe {
  flex-grow: 1;
  min-height: 100%;
}

.smcx-embed,
#article-feedback-modal .modal-body .smcx-iframe-container iframe {
  border: 0px none !important;
}

.footer-addr {
  line-height: 1.35rem;
}

.similar-symptom-popup-wrapper .symptom-card .card-img-top {
  height: 77px;
}

.selected-symptoms-list p {
  margin: 0px;
}

.cause-yes-wrapper {
  width: 90px;
}

.faq-no {
  position: absolute;
  top: 2rem;
  right: 1.7rem;
}